footer{
    background: $block;
    // position: relative;
    .wrapper{
        @extend .flex;
        align-items: flex-start;
        @media (max-width: 480px) {
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
.footer-contact{
    margin-bottom: 50px;
    .foot-contact-info{
        @extend .flex;
        background: $dark-accent;
        width: 100%;
        padding: 10px;
        position: relative;
        bottom: 26px;
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    .footer-contact-accent{
        background: $medium-accent;
        width:95%;
        height: 20px;
        margin: 0 auto;
        position: relative;
        bottom: 26px;  
    }
    .foot-email,
    .foot-phone,
    .foot-office{
        @extend .flex;
        img{
            margin-right: 10px;
            @media (max-width: 768px) {
                max-width: 30px;
                max-height: 16px;
            }
        }
    }
}
.footer-co-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 35%;
    .company-info-img{
        margin-right: 20px;
    }
    .footer-logo{
        @extend .flex;
        margin-bottom: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
            color: $primary;
        }
        @media (max-width: 480px) {
            margin: 50px 0;
        }
    }
    .news-subscribe{
        position: relative;
        @extend .flex;
        input{
            padding: 15px;
            background: $dark-accent;
            border: none;
            width: 95%;
            margin-top: 30px;
        }
        input:focus{
            color: white;
            border: 1px solid $primary;
        }
        button{
            border-radius: 10px;
            padding: 15px 35px;
            position: absolute;
            right: 0;
            bottom:0;
        }
        button:hover{
            background: $dark-accent;
        }
    }
}
.quick-links{
    flex-basis: 20%;
    @media (max-width: 480px) {
        margin-bottom: 30px;
    }
}
.latest-news{
    flex-basis: 25%;
    button{
        @extend .transparent;
        color: $primary;
    }
    .link-news{
         p{
            padding-bottom: 20px;
        }
        button i{
            color: white;
            margin-right: 5px;
        }
        @media (max-width: 480px) {
            margin: 20px 0;
        }
    }
    .link-news:nth-of-type(2){
        padding-top: 20px;
        border-top: 1px solid $p-color;
        margin: 30px 0;
        @media (max-width: 480px) {
            margin: 20px 0;
            padding-top: 30px;
        }
    }
}
.copyright{
    margin-top: 100px;
    .wrapper{
        border-top: 1px solid $p-color;
        @extend .flex;
    }
    .foot-social{
        flex-basis: 15%;
        @extend .flex;
        @media (max-width: 480px) {
            display: none;
        }
    }
    .foot-social i{
        color: #757575;
        transition: all 0.5s;
    }
    .foot-social i:hover{
        color: $primary;
    }
}