.top-nav{
    background: $bg_color;
    padding: 10px;
    .wrapper{
        @extend .flex;
    }
}
.contact-info{
    @extend .flex;
    flex-basis: 35%;
    .contact-info-phone,
    .contact-info-mail{
        @extend .flex;
        align-items: center;  
    }
    .contact-info-phone{
        flex-basis: 35%;
    }
    .contact-info-img{
        flex-basis: 23%;
        margin-right: 10px;
    }
}
.accounts{
    @extend .flex;
    flex-basis: 40%;
    .translate-icon{
        width: 20px;
    }
    .translate{
        @extend .flex;
        flex-basis: 20%;
    }
    .account-items{
        @extend .flex;
        flex-basis: 60%;
    }
}
select{
    background: none;
    width: 80px;
    border: none;
    appearance: none;
    background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 95% bottom;
}
.company-info{
    padding: 20px 0;
    .wrapper{
        @extend .flex;
    }
    .company-info-img{
        width: 30px;
        margin-right: 10px;
    }
    .company-info-logo{
        @extend .flex;
        align-items: flex-start; 
        flex-basis: 20%; 
    }
    .company-info-item{
        @extend .flex;
        align-items: flex-start;
        flex-basis: 40%;
        .company-info-office,
        .company-info-open{
            @extend .flex;
            align-items: flex-start;
        }
    }
    button{
        text-transform: uppercase;
        background: none;
        border: 2px solid $primary;
        align-self: center;
        color: $primary;
    }
}
.page-nav{
    .wrapper{
        @extend .flex;
        background: $primary;
        padding: 10px 0;
    }
    ul{
        @extend .flex;
        justify-content: space-around;
        li{
            @extend .flex;
        }
    }
    .page-nav-menu{
        flex-basis: 65%;
    }
    .page-nav-icons{
        flex-basis: 10%;
    }
    .page-nav-social{
        flex-basis: 15%;
    }
}
.banner{
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4) ),  url(../images/photos/paul-bence-395888.png) no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .banner-content{
        width: 70%;
    }
    .banner-nav{
        @extend .flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        .arrow{
            height: 59px;
            width: 59px;
            background: rgba(255,255,255,0.2);
            border-radius: 90px;
            @extend .flex;
            justify-content: center;
            transition: all 0.5s;
        }
        .arrow:hover{
            background: rgba(0, 0, 0, 0.7);
        }
        .arrow:hover i{
            color: $primary;
        }
    }
    // .wrapper::before{
    //     content: "<";
    //     display: block;
    //     text-align: center;
    //     position: absolute;
    //     width: 50px;
    //     height: 50px;
    //     color: black;
    //     background: rgba(255,255,255,0.4);
    //     border-radius: 90px;
    //     // left: 50px;
    // }
    // .wrapper::after{
    //     content: ">";
    //     display: block;
    //     text-align: center;
    //     position: absolute;
    //     width: 50px;
    //     height: 50px;
    //     color: black;
    //     background: rgba(255,255,255,0.4);
    //     border-radius: 90px;
    //     // left: 50px;
    // }
}
