.half{
    @extend .flex;
    margin-bottom: 20px;
    @media (max-width: 768px) {
        width: 48%;
        flex-direction: column;
        justify-content: space-between;
    }
    @media (max-width: 480px) {
        width: 90%;
    }
}
.third{
    width: 32%;
    @media (max-width: 480px) {
        width: 90%;
    }
}
.fourth{
    width: 23%;
    @media (max-width: 480px) {
        width: 100%;
    }
}
.projects-img,
.news-article{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.news-img{
    position: relative;
    width: 100%;
}
.news-hover{
    display: none;
    position: absolute;
    background: $primary;
    opacity: 0.8;
    width: 99%;
    height: 99%;
    transition: all 0.5s;
    @media (max-width: 768px) {
        width: 100%;
    }
}
.news-img:hover .news-hover{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us{
    margin: 50px 0;
    background: url(../images/icons/Ellipse-left.png) no-repeat;
    background-size: 157px;
    @media (max-width: 940px) {
        background-size: 120px;
        background-position: top left;
    }
    .about-us-stuff{
        @extend .flex;
        align-items: flex-start;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .co-description{
        flex-basis: 62%;
        @media (max-width: 480px) {
            flex-basis: 100%;
        }
    }
    .co-description button{
        margin-top:74px;
        @media (max-width: 940px) {
            margin-top:42px;
        }
        @media (max-width: 768px) {
            margin: 40px 0;
        }
    }
    .free-consult{
        background: $bg-color;
        border-right: 1px solid transparent;
        flex-basis: 25%;
        padding: 30px;
        position: relative;
        @media (max-width: 940px) {
            flex-basis: 30%;
        }
        @media (max-width: 480px) {
            flex-basis: 100%;
        }
        p{
            margin-bottom: 10px;
        }
        button{
            @extend .transparent;
            margin: 20px 0;
            transition: all 0.5s ease-in-out;
        }
        h3{
            transition: all 0.5s ease-in-out;  
        }
        &:hover h3{
            color: $primary;
        }
        &:hover button{
            outline: 2px solid $primary;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 0;
            background: transparent;
            transition: all 0.5s ease;
        }
        &:hover:after{
            width: 2px;
            height:100%;
            background: $primary;
        }
    }
}
.services{
    background: $bg_color url(../images/icons/Ellipse-right.png) no-repeat;
    background-position: bottom right;
    background-size: 157px;
    padding: 100px 0;
    .service-area{
        @media (max-width: 768px) {
           display: flex;
           justify-content: space-between;
        }
        @media (max-width: 480px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
    }
    .third{
        background: white;
        padding: 50px;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        &:hover{
            outline: 2px solid $primary;
            outline-offset: -30px;
            @media (max-width: 768px) {
                outline-offset: -20px;
            }
        }
        @media (max-width: 940px) {
            padding: 30px;
        }
        @media (max-width: 768px) {
            padding: 21px;
            margin-bottom: 20px;
            width: 100%;
        }
        @media (max-width: 480px) {
            min-height: 320px;
            margin-bottom: 30px;
        }
        h4{
            margin: 30px 0;
            @media (max-width: 940px) {
                margin: 20px 0;
            }
        }
    }
    .service-icon{
        @media (max-width: 940px) {
            width: 40px;
        }
    }
}
.service-details{
    @media (max-width: 940px) {

    }
}
.services-title{
    @extend .title-flourish;
    h3, h2{
        z-index: 2;
    }
    h6{
        z-index: 1;
        color: white;
    }
}
.rational{
    margin: 50px 0;
    .rational-script{
        @extend .flex;
        align-items: flex-start;
        margin-bottom: 50px;
        @media (max-width: 940px) {
           display: flex;
           flex-direction: column-reverse;
           align-content: flex-start;
           
        }
    }
    .rationals-content{
        flex-basis: 50%;
    }
    .rationals-content h5{
        margin: 100px 0 35px 0;
        @media (max-width: 768px) {
            margin: 60px 0 20px 0;
        }
    }
    .rational-image{
        flex-basis: 45%;
        margin-right: 10px;
    }
}
.rationals{
    @extend .flex;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    .third{
        border: 1px solid $bg-color;
        padding: 30px;
        min-height: 170px;
        transition: all 0.5s ease-in-out;
        position: relative;
        p{
            margin: 10px 0;
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 0;
            background: transparent;
            transition: all 0.5s ease;
        }
        &:hover:before{
            width: 2px;
            height:100%;
            background: $primary;
        }
        &:hover h5{
            color: $primary;
        }
        @media (max-width: 768px) {
            padding: 20px;
        }
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    .rational-title{
        @extend .flex;
        justify-content: space-around;
        h5{
            flex-basis: 80%;
        } 
        img{
            margin-right: 10px;
        }
    }
}
.credentials{
    margin: 30px 0;
    background: $block;
    @media (max-width: 480px) {
        // padding: 50px 0;
    }
    .outer-wrapper{
        @extend .flex;
        justify-content: space-around; 
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    .fourth{
        padding: 50px;
        &:not(:last-child){
            border-right: 1px solid $primary;
            @media (max-width: 480px) {
                border-right: none;
                border-bottom: 1px dotted $primary;
            }
            // Nested 4 deep?
        }
        @media (max-width: 940px) {
            padding: 10px;
            min-height: 212px;
        }
        @media (max-width: 768px) {
            width: 20%;
            padding: 30px 16px;
        }
        @media (max-width: 480px) {
           display: flex;
           flex-direction: row;
           padding: 50px;
        }
    }
    .fourth .icon{
        width: 30px;
        @media (max-width: 768px) {
            min-height: 33px;
        }
        @media (max-width: 480px) {
            width: 50px;
            margin-right: 20px;
        }
    }
}
.projects{
    margin: 100px 0;
    .projects-title{
        @extend .title-flourish;
        position: relative;
    }
    .projects-detail{
        @extend .flex;
        margin: 30px 0;
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    .projects-detail p{
        @media (max-width: 940px) {
            flex-basis: 80%;
        }
        @media (max-width: 480px) {
            margin: 20px 0;
        }
    }
}
.statement{ 
    background: $primary;
    padding: 50px;
    @media (max-width: 940px) {
        padding: 50px 10px;
    }
    .wrapper{
        @extend .flex;
        @media (max-width: 480px) {
            flex-direction: column;
        }
        .statement-img{
            flex-basis: 35%;
        } 
        .vp-statement{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: 60%;
        }     
    }
    .statement-nav{
        @extend .flex;
        margin-top: 50px;
        .tab{
            background:#347ad8;
            border-radius: 20px;
            width: 20px;
            height: 10px;
            margin: 0 5px;
            transition: all 0.5s;
        }
        .tab:hover{
            background: white;
        }
    }
}
.news{
    margin: 100px 0;
}
.news-title{
    @extend .title-flourish;
    position: relative;
}
.news-details{
    @extend .flex;
    margin-bottom: 80px;
    @media (max-width: 480px) {
        flex-direction: column;
        margin-bottom: 30px;
    }
    h3{
        flex-basis: 85%;
        @media (max-width: 768px) {
          flex-basis: 80%;  
        }
    }
    button{
        @extend .transparent;
        @media (max-width: 480px) {
            margin: 10px;
        }
    }
}
.news-article{
    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
    .news-img{
        margin-bottom: 30px;
    }
    h3{
        margin-bottom: 20px;
    }
    .third{
        @media (max-width: 480px) {
            margin-bottom: 70px;
        }
    }
}                                          
.partners{
     background: $primary;
    .wrapper{
        @extend .flex;
        padding: 100px 0;
        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 480px) {
            padding: 50px 0;
        }
    }
    .fourth{
        margin: 20px 0;
    } 
}