.half{
    @extend .flex;
}
.third{
    width: 32%;
}
.fourth{
    width: 25%;
}
.projects-img,
.news-article{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.about-us{
    margin: 50px;
    .about-us-stuff{
        @extend .flex;
    }
    .co-description{
        flex-basis: 70%;
    }
    .free-consult{
        background: $bg-color;
        border-right: 1px solid $primary;
        flex-basis: 20%;
        padding: 20px;
        button{
            @extend .transparent;
        }
    }
}
.services{
    background: $bg_color;
    padding: 50px 0;
    .third{
        background: white;
        padding: 30px;
        min-height: 300px;
    }
}
.services-title{
    padding: 15px;
    h3, h2{
        text-align: center;
    }
}
.services{
    .third{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4,p{
            text-align: center;
        }
    }
}
.rational{
    margin: 50px;
    .rational-script{
        @extend .flex;
    }
    .rationals{
        @extend .flex;
        .third{
            border: 1px solid grey;
        }
    }
}
.credentials{
    @extend .flex;
    justify-content: space-around;
    background: $block;
    margin: 30px 0;
    .fourth{
        color: white;
    }
}
.projects{
    .projects-title{
        h2,h3{
            text-align:center;
        }
    }
    .projects-detail{
        @extend .flex;
    }
}
.statement{ 
    background: $primary;
    padding: 50px;
    .wrapper{
        @extend .flex;
        .statement-img{
            flex-basis: 35%;
        } 
        .vp-statement{
            text-align: center;
            flex-basis: 60%;
        }     
    }
}

.news{
    .news-title{
        h2,h3{
            text-align: center;
        }
    }
    .news-details{
        @extend .flex;
        h3{
            flex-basis: 85%;
        }
    }
}
.partners{
     background: $primary;
    .wrapper{
        @extend .flex;
        padding: 10px;
    }  
}