@mixin fontSize($sizeValue){
    font-size: $sizeValue;
    font-family: PlayfairDisplay;
    color:rgba(39, 39, 39, 0.7);
    font-weight: 700;
    line-height: 58px;/* Approximation due to font substitution */
    text-align: left;
}

