@mixin serif-headings($sizeValue){
    font-size: $sizeValue;
    font-family: PlayfairDisplay;
    font-weight: 700;
    text-align: left;
}
@mixin sans-headings($sizeValue){
    font-size: $sizeValue;
    font-family: $sans-p;
    font-weight: 700;
    text-align: left; 
}
@mixin p-text($sizeValue){
    font-size: $sizeValue;
    font-family: $sans-p;
    text-align: left; 
    line-height: 32px;
}

