*{
    color: $font-color;
    font-size: 10px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    @include serif-headings(7.1rem);
    color: white;
}
h2{
    @include serif-headings(4.5rem);
}
h3{
    @include serif-headings(2rem);
}
h4{
    @include sans-headings(2.2rem);
}
h5{
    @include sans-headings (1.8rem);
}
h6{
    @include serif-headings(27rem);
    text-transform: capitalize;
    position: absolute;
    color: $text-design;
    text-align: center;
    top: -91px;
    z-index: -1;
}
p{
    @include p-text(1.6rem);
}
.contact-info{
    a{
        font-size: 1.4rem;
    }
    a:hover{
        color: $primary;
    }
}
.translate{
    font-size: 1.4rem;
}
.account-items{
    text-transform: capitalize;
    a{
        font-size: 1.4rem;
    }
    a:hover{
        color: $primary;
        border-bottom: 2px solid $primary;
    }
}
.company-info{
    .company-info-info{
        h3{
            font-size: 3.2rem;
        }
        position: relative; 
        span{
        color: $primary;
        text-transform: lowercase;
        font-size: 3.2rem;
        position: absolute;
        }
        h4{
            font-size: 1.8rem;
            text-transform: capitalize;
        }
        p{
            color: $p-color;
            text-transform: capitalize;
        }
    }
}
.page-nav{
    text-transform: uppercase;
    .page-nav-menu li:nth-of-type(7){
        text-transform: capitalize;
    }
    li a{
        font-size: 1.6rem;
        @media (max-width: 940px) {
            font-size: 1.4rem;
        }
    }
    .page-nav-menu a,
    .page-nav-icons i,
    .page-nav-social i{
        color: white;
    }
}
.banner-content{
    p{
        color: white;
        margin: 40px 0 60px 0;
        @media (max-width: 940px) {
            margin-bottom:30px;
        } 
    }      
}
.banner-nav{
    .arrow{
        i{
            font-size: 3rem;
            color: white;
        }
    }
}
.about-us{
    h3{
        color: $primary;
        @media (max-width: 940px) {
            text-align: center;
            margin-left: 142px; 
        }
    }
    .co-description{
        h2{
            text-transform: none;
            margin-bottom: 20px;
            @media (max-width: 940px) {
                text-align: right;
            }
        }
        p{
            margin: 20px 0;
            line-height: 36px;
            @media (max-width: 940px) {
                text-align: right;
            }
        }
    }
    .free-consult{
        h3{
            color: $font-color;
            margin: 10px 0 60px 0;
        }
    }
}
.rational{
    .rationals-content{
        h2{
            position: relative;
        }
        h2:after{
            content: "";
            display: inline-block;
            width: 80px;
            position: absolute;
            left: 0;
            bottom: -77%;
            border-bottom: 2px solid $primary;  
        }
        h5{
            font-family: $sans-highlights;
            font-size: 1.8rem;
            text-transform: none;
            font-weight: 500;
            color: $primary;
            margin: 100px 0 35px 0;
        }
    }
}
.credentials{
    .credential{
        h4{
        color: white;
        text-transform: capitalize;
        }
        h3{
            color: $primary;
            @include sans-highlights(4rem);
        }
    }
}
.services-title,
.projects-title,
.news-title{
    margin-bottom: 80px;
    h2{
        color: $primary;
        position: relative;
    }
     h2:after{
        content: "";
        display: inline-block;
        width: 60px;
        position: absolute;
        transform: translateX(50%);
        bottom: -46%;
        right: 50%;
        border-bottom: 2px solid $primary;
    }
    h2,h3{
        text-align:center;
        display: inline-block;
        width: 33.33%;
    }
}
.vp-statement{
    p,h4{
        color: white;
        display: inline-block;
    }
    p:first-of-type{
        margin-bottom: 100px;
        @include sans-highlights-p(2.1rem);
        text-align: center;
        @media (max-width: 940px) {
            font-size: 1.6rem;
        }
    }
    p:last-of-type{
        text-transform: capitalize;
    }
    h4{
        position: relative;
    }
    h4::after{
        content: "";
        display: block;
        width: 60px;
        // height: 1px;
        border: 1px solid white;
        position: absolute;
        transform: translateX(50%);
        top:-141%;
    }
}
.news{
    .news-details{
        h3{
            @include sans-highlights-p (2rem);
            line-height: 37px;
            text-transform: none
        }
    }
    .news-content{
        h3{
            @include sans-highlights (1.8rem);
            color: $primary;
        }
        p{
            @include sans-highlights-p (1.6rem);
            text-transform: none;
            line-height: 32px;
            letter-spacing: 0.4px;
        }
        p:last-of-type{
            color: $primary;
        }
        h3,p{
            @media (max-width: 940px) {
                font-size: 1.4rem;
            }
        }
    }
}
.footer-contact{
    a{
        color: white;
        @include sans-highlights-p(1.5rem);
    }
}
.footer-co-info{
    .company-info-info{
        h3{
            color: white;
            @include serif-headings(3.2rem);
        }
        span{
            color: $primary;
            @include serif-headings(3.2rem);
            text-transform: lowercase;
            position: absolute;
        }
        p{
            color: $p-color;
            text-transform: capitalize;
        }
    }
    .company-vision p{
        color: $p-color;
    }
    form{
        margin-top:100px;
    }
    form label{
        font-size: 1.4rem;
    }
    form input{
        color: $p-color;
        font-size: 1.4rem;
    }
}
.quick-links{
    h3{
        @include p-text(1.8rem);
        color:white;
        margin-bottom: 30px;
    }
    li{
        margin: 10px 0;
    }
    a{
        @include sans-highlights-p(1.6rem);
        letter-spacing: 0.4px;
        color: $p-color;
        text-transform: capitalize;
        @media (max-width: 940px) {
            font-size: 1.2rem;
        }
    }
    a:hover{
        color: $primary;
    }
}
.latest-news{
    h3{
        @include sans-highlights(1.8rem);
        color:white;
        margin-bottom: 30px;
    }
    .link-news{
        p,a{
            @include sans-highlights-p(1.5rem)
            color: $p-color;
            transition: all 0.5s;
            @media (max-width: 940px) {
                font-size: 1.2rem;
            }
        }
        a:hover{
            color: $primary;
        }
    }
}