@import "partials/_setup.scss";

@import "partials/_typography.scss";

@import "partials/_header.scss";
@import "partials/_main.scss";
@import "partials/_footer.scss";


img{
    width:100%;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
