//COLORS
$primary: #2f87fd; //Skyblue
$accent: #78aef8; //Paisley
$block: #1f2329; //Cobalt 
$dark-accent: #313030; //Gunmetal
$medium-accent:#424141;//Mid Grey
$bg-color: #f5f5f5; //Offwhite

//TEXT
$font-color: #272626; //Black
$p-color: #747474; //DarkGrey
$text-design: #f6f3f3; //light light grey
$serif-heading: PlayfairDisplay;
$sans-highlights: Poppins;
$sans-text:Source Sans Pro;

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-flourish{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@import "partials/_setup.scss";

@import "partials/mixins";
@import "partials/_typography.scss";


@import "partials/_header.scss";
@import "partials/_main.scss";
@import "partials/_footer.scss";
@import "partials/_button.scss";

img{
    max-width:100%;
}
.outer-wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
        padding: 0;
    }
}
a{
    text-decoration: none;
}
img{
    display: inline-block;
}