@import "partials/_setup.scss";

@import "partials/_typography.scss";

@import "partials/_header.scss";
@import "partials/_main.scss";
@import "partials/_footer.scss";
@import "partials/_button.scss";

img{
    width:100%;
}
.wrapper{
    max-width: 60%;
    margin: 0 auto;
}
ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    li{
        padding: 0;
    }
}

h1 {
    background: red;
}
