.flex, .top-nav .wrapper, .contact-info, .contact-info .contact-info-phone,
.contact-info .contact-info-mail, .accounts, .accounts .translate, .accounts .account-items, .company-info .wrapper, .company-info .company-info-logo, .company-info .company-info-item, .company-info .company-info-item .company-info-office,
.company-info .company-info-item .company-info-open, .page-nav .wrapper, .page-nav ul, .page-nav ul li, .banner .banner-nav, .banner .banner-nav .arrow, .half, .about-us .about-us-stuff, .rational .rational-script, .rationals, .rationals .rational-title, .credentials .outer-wrapper, .projects .projects-detail, .statement .wrapper, .statement .statement-nav, .news-details, .partners .wrapper, footer .wrapper, .footer-contact .foot-contact-info, .footer-contact .foot-email,
.footer-contact .foot-phone,
.footer-contact .foot-office, .footer-co-info .footer-logo, .footer-co-info .news-subscribe, .copyright .wrapper, .copyright .foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title-flourish, .services-title, .projects .projects-title, .news-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  color: rgba(39, 39, 39, 0.7);
  font-size: 10px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-size: 7.1rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: white; }
  @media (max-width: 940px) {
    h1 {
      font-size: 5.5rem; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 4.2rem; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 4.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }
  @media (max-width: 768px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }
  @media (max-width: 480px) {
    h3 {
      font-size: 1.8rem; } }

h4 {
  font-size: 2.2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }

h5 {
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }

h6 {
  font-size: 27rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  text-transform: capitalize;
  position: absolute;
  color: #f6f3f3;
  text-align: center;
  top: -122px;
  z-index: -1; }
  @media (max-width: 768px) {
    h6 {
      top: -135px; } }
  @media (max-width: 480px) {
    h6 {
      top: -144px; } }

p {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0.4px; }
  @media (max-width: 940px) {
    p {
      line-height: 27px; } }
  @media (max-width: 480px) {
    p {
      line-height: 25px; } }

.contact-info a {
  font-size: 1.4rem; }
  @media (max-width: 940px) {
    .contact-info a {
      font-size: 1.2rem; } }

.contact-info a:hover {
  color: #2f87fd; }

.translate {
  font-size: 1.4rem; }

.account-items {
  text-transform: capitalize; }
  .account-items a {
    font-size: 1.4rem; }
    @media (max-width: 480px) {
      .account-items a {
        font-size: 1.2rem; } }
  .account-items a:hover {
    color: #2f87fd;
    border-bottom: 2px solid #2f87fd; }

.company-info-info {
  position: relative; }
  .company-info-info h3 {
    font-size: 3.2rem; }
  .company-info-info span {
    color: #2f87fd;
    text-transform: lowercase;
    font-size: 3.2rem;
    position: absolute; }
  .company-info-info h4 {
    font-size: 1.8rem;
    text-transform: capitalize; }
  .company-info-info p {
    color: #747474;
    text-transform: capitalize; }
    @media (max-width: 940px) {
      .company-info-info p {
        font-size: 1.2rem; } }

.page-nav {
  text-transform: uppercase; }
  .page-nav .page-nav-menu li:nth-of-type(7) {
    text-transform: capitalize; }
  .page-nav li a {
    font-size: 1.6rem; }
    @media (max-width: 940px) {
      .page-nav li a {
        font-size: 1.4rem; } }
    @media (max-width: 480px) {
      .page-nav li a {
        font-size: 1rem; } }
  .page-nav .page-nav-menu a,
  .page-nav .page-nav-icons i,
  .page-nav .page-nav-social i {
    color: white; }

.hamburger i {
  color: white;
  font-size: 2rem; }

.banner-content p {
  color: white;
  margin: 40px 0 60px 0; }
  @media (max-width: 940px) {
    .banner-content p {
      margin: 20px 0;
      font-size: 1.4rem; } }

.banner-nav .arrow i {
  font-size: 3rem;
  color: white; }

.about-us h3 {
  color: #2f87fd;
  margin-bottom: 25px; }
  @media (max-width: 940px) {
    .about-us h3 {
      text-align: center;
      margin-left: 100px; } }
  @media (max-width: 480px) {
    .about-us h3 {
      margin-left: 0;
      text-align: right; } }

.about-us .co-description h2 {
  text-transform: none;
  margin-bottom: 20px; }
  @media (max-width: 940px) {
    .about-us .co-description h2 {
      text-align: right; } }

.about-us .co-description p {
  margin: 20px 0; }
  @media (max-width: 940px) {
    .about-us .co-description p {
      text-align: right; } }

.about-us .free-consult h3 {
  color: rgba(39, 39, 39, 0.7);
  margin: 10px 0 60px 0; }

.rational .rationals-content h2 {
  position: relative; }

.rational .rationals-content h2:after {
  content: "";
  display: inline-block;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: -77%;
  border-bottom: 2px solid #2f87fd; }

.rational .rationals-content h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: none;
  font-weight: 500;
  color: #2f87fd; }

.credentials .credential h4 {
  color: white;
  text-transform: capitalize; }

.credentials .credential h3 {
  color: #2f87fd;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }

.services-title,
.projects-title,
.news-title {
  margin-bottom: 80px; }
  .services-title h2,
  .projects-title h2,
  .news-title h2 {
    color: #2f87fd;
    position: relative; }
  .services-title h2:after,
  .projects-title h2:after,
  .news-title h2:after {
    content: "";
    display: inline-block;
    width: 60px;
    position: absolute;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    bottom: -46%;
    right: 50%;
    border-bottom: 2px solid #2f87fd; }
  .services-title h2, .services-title h3,
  .projects-title h2,
  .projects-title h3,
  .news-title h2,
  .news-title h3 {
    text-align: center;
    display: inline-block; }

.service-details h4, .service-details p {
  text-align: center; }

@media (max-width: 768px) {
  .service-details h4 {
    font-size: 1.8rem; } }

@media (max-width: 768px) {
  .service-details p {
    font-size: 1.4rem; } }

.vp-statement p, .vp-statement h4 {
  color: white;
  display: inline-block; }

.vp-statement p:first-of-type {
  margin-bottom: 100px;
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  text-align: center;
  margin: 50px 0; }
  @media (max-width: 940px) {
    .vp-statement p:first-of-type {
      font-size: 1.2rem;
      margin-bottom: 75px; } }

.vp-statement p:last-of-type {
  text-transform: capitalize; }

.vp-statement h4 {
  position: relative; }

.vp-statement h4::after {
  content: "";
  display: block;
  width: 60px;
  border: 2px solid white;
  position: absolute;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  top: -141%; }

.news-details h3 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  line-height: 37px;
  text-transform: none; }
  @media (max-width: 768px) {
    .news-details h3 {
      font-size: 1.8rem; } }

.news-content h3 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: #2f87fd; }

.news-content p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  text-transform: none;
  line-height: 32px;
  letter-spacing: 0.4px; }

.news-content p:last-of-type {
  color: #2f87fd; }

@media (max-width: 940px) {
  .news-content h3, .news-content p {
    font-size: 1.4rem; } }

.footer-contact a {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize; }

.footer-co-info .company-info-info h3 {
  color: white;
  font-size: 3.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize; }

.footer-co-info .company-info-info span {
  color: #2f87fd;
  font-size: 3.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  text-transform: lowercase;
  position: absolute; }

.footer-co-info .company-info-info p {
  color: #747474;
  text-transform: capitalize; }

.footer-co-info .company-vision p {
  color: #747474; }

.footer-co-info form {
  margin-top: 100px; }

.footer-co-info form label {
  font-size: 1.4rem; }

.footer-co-info form input {
  color: #747474;
  font-size: 1.4rem; }

.quick-links h3 {
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .quick-links h3 {
      margin-bottom: 20px; } }

.quick-links li {
  margin: 10px 0; }

.quick-links a {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  color: #747474;
  text-transform: capitalize; }
  @media (max-width: 940px) {
    .quick-links a {
      font-size: 1.2rem; } }

.quick-links a:hover {
  color: #2f87fd; }

.latest-news h3 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: white;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .latest-news h3 {
      margin-bottom: 20px; } }

.latest-news .link-news p, .latest-news .link-news a {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  color: #747474;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 940px) {
    .latest-news .link-news p, .latest-news .link-news a {
      font-size: 1.2rem; } }

.latest-news .link-news a:hover {
  color: #2f87fd; }

.copyright p {
  color: #747474;
  text-transform: capitalize; }

.top-nav {
  background: #f5f5f5;
  padding: 10px; }
  @media (max-width: 768px) {
    .top-nav {
      display: none; } }

.contact-info {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%; }
  @media (max-width: 940px) {
    .contact-info {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media (max-width: 768px) {
    .contact-info {
      -ms-flex-preferred-size: 48%;
      flex-basis: 48%; } }
  @media (max-width: 480px) {
    .contact-info {
      -ms-flex-preferred-size: 34%;
      flex-basis: 34%; } }
  .contact-info .contact-info-phone,
  .contact-info .contact-info-mail {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact-info .contact-info-phone {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    /* Portrait tablet and small desktops */
    /* Landscape phone to portrait tablet */
    /* Landscape phones and down */ }
    @media (max-width: 940px) {
      .contact-info .contact-info-phone {
        -ms-flex-preferred-size: 38%;
        flex-basis: 38%; } }
  .contact-info .contact-info-img {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    margin-right: 10px; }
    @media (max-width: 940px) {
      .contact-info .contact-info-img {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%; } }
    @media (max-width: 480px) {
      .contact-info .contact-info-img {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
  @media (max-width: 480px) {
    .contact-info a {
      display: none; } }

.accounts {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%; }
  @media (max-width: 940px) {
    .accounts {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media (max-width: 768px) {
    .accounts {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media (max-width: 480px) {
    .accounts {
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%; } }
  .accounts .translate-icon {
    width: 20px; }
  .accounts .translate {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .accounts .account-items {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
    @media (max-width: 768px) {
      .accounts .account-items {
        -ms-flex-preferred-size: 65%;
        flex-basis: 65%; } }
    @media (max-width: 480px) {
      .accounts .account-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; } }

select {
  background: none;
  width: 80px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 95% bottom; }

.company-info {
  padding: 20px 0; }
  @media (max-width: 480px) {
    .company-info .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .company-info .company-info-img {
    width: 30px;
    margin-right: 10px; }
  .company-info .company-info-logo {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
    @media (max-width: 940px) {
      .company-info .company-info-logo {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }
  .company-info .company-info-item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
    @media (max-width: 940px) {
      .company-info .company-info-item {
        -ms-flex-preferred-size: 43%;
        flex-basis: 43%; } }
    .company-info .company-info-item .company-info-office,
    .company-info .company-info-item .company-info-open {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .company-info button {
    text-transform: uppercase;
    background: none;
    border: 2px solid #2f87fd;
    -ms-flex-item-align: center;
    align-self: center;
    color: #2f87fd; }
    .company-info button:hover {
      background: #2f87fd;
      color: white; }
    @media (max-width: 940px) {
      .company-info button {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        font-size: 1.2rem; } }

.page-nav {
  position: relative; }
  @media (max-width: 940px) {
    .page-nav {
      background: #2f87fd; } }
  .page-nav .wrapper {
    background: #2f87fd; }
  .page-nav ul {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .page-nav .page-nav-menu {
    padding: 10px;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%; }
    @media (max-width: 768px) {
      .page-nav .page-nav-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 52px;
        left: 0;
        z-index: 1;
        background: #2f87fd;
        border-top: 1px solid white; } }
    .page-nav .page-nav-menu a {
      border-bottom: 2px solid transparent; }
    .page-nav .page-nav-menu a:hover {
      border-bottom: 2px solid white; }
  .page-nav .page-nav-icons {
    padding: 10px 0;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    height: 100%;
    border-right: 1px solid white; }
    @media (max-width: 480px) {
      .page-nav .page-nav-icons {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%; } }
  .page-nav .page-nav-icons li:first-of-type {
    position: relative; }
  .page-nav .page-nav-icons li:first-of-type::after {
    content: "2";
    background: #2d71cd;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    position: absolute;
    right: -18%;
    top: 60%; }
  .page-nav .page-nav-social {
    padding: 10px 0;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; }
    @media (max-width: 480px) {
      .page-nav .page-nav-social {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        -ms-flex-line-pack: end;
        align-content: flex-end; } }
    .page-nav .page-nav-social a {
      color: white; }
    .page-nav .page-nav-social a:hover {
      color: #2d71cd; }

ul.page-nav-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hamburger {
  display: none; }

@media (max-width: 768px) {
  .hamburger {
    display: block;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%; } }

.banner {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.4))), url(../images/photos/paul-bence-395888.png) no-repeat;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)), url(../images/photos/paul-bence-395888.png) no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)), url(../images/photos/paul-bence-395888.png) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)), url(../images/photos/paul-bence-395888.png) no-repeat;
  background-size: cover;
  height: 650px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 940px) {
    .banner {
      background-size: cover;
      height: 340px; } }
  .banner .banner-content {
    width: 70%; }
    @media (max-width: 940px) {
      .banner .banner-content {
        margin: 0 auto;
        width: 80%; } }
  .banner .banner-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%; }
    .banner .banner-nav .arrow {
      height: 59px;
      width: 59px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 90px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .banner .banner-nav .arrow:hover {
      background: rgba(0, 0, 0, 0.7); }
    .banner .banner-nav .arrow:hover i {
      color: #2f87fd; }

.half {
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .half {
      width: 48%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 480px) {
    .half {
      width: 90%; } }

.third {
  width: 32%; }
  @media (max-width: 480px) {
    .third {
      width: 90%; } }

.fourth {
  width: 23%; }
  @media (max-width: 480px) {
    .fourth {
      width: 100%; } }

.projects-img,
.news-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news-img {
  position: relative;
  width: 100%; }

.news-hover {
  display: none;
  position: absolute;
  background: #2f87fd;
  opacity: 0.8;
  width: 99%;
  height: 99%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 768px) {
    .news-hover {
      width: 100%; } }

.news-img:hover .news-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about-us {
  margin: 50px 0;
  background: url(../images/icons/Ellipse-left.png) no-repeat;
  background-size: 157px; }
  @media (max-width: 940px) {
    .about-us {
      background-size: 120px;
      background-position: top left; } }
  .about-us .about-us-stuff {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 768px) {
      .about-us .about-us-stuff {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .about-us .co-description {
    -ms-flex-preferred-size: 62%;
    flex-basis: 62%; }
    @media (max-width: 480px) {
      .about-us .co-description {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
  .about-us .co-description button {
    margin-top: 74px; }
    @media (max-width: 940px) {
      .about-us .co-description button {
        margin-top: 42px; } }
    @media (max-width: 768px) {
      .about-us .co-description button {
        margin: 40px 0; } }
  .about-us .free-consult {
    background: #f5f5f5;
    border-right: 1px solid transparent;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 30px;
    position: relative; }
    @media (max-width: 940px) {
      .about-us .free-consult {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%; } }
    @media (max-width: 480px) {
      .about-us .free-consult {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .about-us .free-consult p {
      margin-bottom: 10px; }
    .about-us .free-consult button {
      margin: 20px 0;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .about-us .free-consult h3 {
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .about-us .free-consult:hover h3 {
      color: #2f87fd; }
    .about-us .free-consult:hover button {
      outline: 2px solid #2f87fd; }
    .about-us .free-consult:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 0;
      background: transparent;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .about-us .free-consult:hover:after {
      width: 2px;
      height: 100%;
      background: #2f87fd; }

.services {
  background: #f5f5f5 url(../images/icons/Ellipse-right.png) no-repeat;
  background-position: bottom right;
  background-size: 157px;
  padding: 100px 0; }
  @media (max-width: 768px) {
    .services .service-area {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 480px) {
    .services .service-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (max-width: 768px) {
    .services {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .services .third {
    background: white;
    padding: 50px;
    min-height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .services .third:hover {
      outline: 2px solid #2f87fd;
      outline-offset: -30px; }
      @media (max-width: 768px) {
        .services .third:hover {
          outline-offset: -20px; } }
    @media (max-width: 940px) {
      .services .third {
        padding: 30px; } }
    @media (max-width: 768px) {
      .services .third {
        padding: 21px;
        margin-bottom: 20px;
        width: 100%; } }
    @media (max-width: 480px) {
      .services .third {
        min-height: 320px;
        margin-bottom: 30px; } }
    .services .third h4 {
      margin: 30px 0; }
      @media (max-width: 940px) {
        .services .third h4 {
          margin: 20px 0; } }
  @media (max-width: 940px) {
    .services .service-icon {
      width: 40px; } }

.services-title h3, .services-title h2 {
  z-index: 2; }

.services-title h6 {
  z-index: 1;
  color: white; }

.rational {
  margin: 50px 0; }
  .rational .rational-script {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px; }
    @media (max-width: 940px) {
      .rational .rational-script {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-line-pack: start;
        align-content: flex-start; } }
  .rational .rationals-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .rational .rationals-content h5 {
    margin: 100px 0 35px 0; }
    @media (max-width: 768px) {
      .rational .rationals-content h5 {
        margin: 60px 0 20px 0; } }
  .rational .rational-image {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-right: 10px; }

@media (max-width: 480px) {
  .rationals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.rationals .third {
  border: 1px solid #f5f5f5;
  padding: 30px;
  min-height: 170px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative; }
  .rationals .third p {
    margin: 10px 0; }
  .rationals .third:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .rationals .third:hover:before {
    width: 2px;
    height: 100%;
    background: #2f87fd; }
  .rationals .third:hover h5 {
    color: #2f87fd; }
  @media (max-width: 768px) {
    .rationals .third {
      padding: 20px; } }
  @media (max-width: 480px) {
    .rationals .third {
      margin-bottom: 20px; } }

.rationals .rational-title {
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .rationals .rational-title h5 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  .rationals .rational-title img {
    margin-right: 10px; }

.credentials {
  margin: 30px 0;
  background: #1f2329; }
  .credentials .outer-wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (max-width: 480px) {
      .credentials .outer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .credentials .fourth {
    padding: 50px; }
    .credentials .fourth:not(:last-child) {
      border-right: 1px solid #2f87fd; }
      @media (max-width: 480px) {
        .credentials .fourth:not(:last-child) {
          border-right: none;
          border-bottom: 1px dotted #2f87fd; } }
    @media (max-width: 940px) {
      .credentials .fourth {
        padding: 10px;
        min-height: 212px; } }
    @media (max-width: 768px) {
      .credentials .fourth {
        width: 20%;
        padding: 30px 16px; } }
    @media (max-width: 480px) {
      .credentials .fourth {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 50px; } }
  .credentials .fourth .icon {
    width: 30px; }
    @media (max-width: 768px) {
      .credentials .fourth .icon {
        min-height: 33px; } }
    @media (max-width: 480px) {
      .credentials .fourth .icon {
        width: 50px;
        margin-right: 20px; } }

.projects {
  margin: 100px 0; }
  .projects .projects-title {
    position: relative; }
  .projects .projects-detail {
    margin: 30px 0; }
    @media (max-width: 480px) {
      .projects .projects-detail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  @media (max-width: 940px) {
    .projects .projects-detail p {
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%; } }
  @media (max-width: 480px) {
    .projects .projects-detail p {
      margin: 20px 0; } }

.statement {
  background: #2f87fd;
  padding: 50px; }
  @media (max-width: 940px) {
    .statement {
      padding: 50px 10px; } }
  @media (max-width: 480px) {
    .statement .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .statement .wrapper .statement-img {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
  .statement .wrapper .vp-statement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
  .statement .statement-nav {
    margin-top: 50px; }
    .statement .statement-nav .tab {
      background: #347ad8;
      border-radius: 20px;
      width: 20px;
      height: 10px;
      margin: 0 5px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .statement .statement-nav .tab:hover {
      background: white; }

.news {
  margin: 100px 0; }

.news-title {
  position: relative; }

.news-details {
  margin-bottom: 80px; }
  @media (max-width: 480px) {
    .news-details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 30px; } }
  .news-details h3 {
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%; }
    @media (max-width: 768px) {
      .news-details h3 {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%; } }
  @media (max-width: 480px) {
    .news-details button {
      margin: 10px; } }

@media (max-width: 480px) {
  .news-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.news-article .news-img {
  margin-bottom: 30px; }

.news-article h3 {
  margin-bottom: 20px; }

@media (max-width: 480px) {
  .news-article .third {
    margin-bottom: 70px; } }

.partners {
  background: #2f87fd; }
  .partners .wrapper {
    padding: 100px 0; }
    @media (max-width: 480px) {
      .partners .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (max-width: 480px) {
      .partners .wrapper {
        padding: 50px 0; } }
  .partners .fourth {
    margin: 20px 0; }

footer {
  background: #1f2329; }
  footer .wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 480px) {
      footer .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }

.footer-contact {
  margin-bottom: 50px; }
  .footer-contact .foot-contact-info {
    background: #313030;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 26px; }
    @media (max-width: 480px) {
      .footer-contact .foot-contact-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .footer-contact .footer-contact-accent {
    background: #424141;
    width: 95%;
    height: 20px;
    margin: 0 auto;
    position: relative;
    bottom: 26px; }
  .footer-contact .foot-email img,
  .footer-contact .foot-phone img,
  .footer-contact .foot-office img {
    margin-right: 10px; }
    @media (max-width: 768px) {
      .footer-contact .foot-email img,
      .footer-contact .foot-phone img,
      .footer-contact .foot-office img {
        max-width: 30px;
        max-height: 16px; } }
  @media (max-width: 480px) {
    .footer-contact .foot-email img {
      max-width: 25px; } }

.footer-co-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%; }
  .footer-co-info .company-info-img {
    margin-right: 20px; }
  .footer-co-info .footer-logo {
    margin-bottom: 30px; }
  .footer-co-info form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer-co-info form label {
      color: #2f87fd; }
    @media (max-width: 480px) {
      .footer-co-info form {
        margin: 50px 0; } }
  .footer-co-info .news-subscribe {
    position: relative; }
    .footer-co-info .news-subscribe input {
      padding: 15px;
      background: #313030;
      border: none;
      width: 95%;
      margin-top: 30px; }
    .footer-co-info .news-subscribe input:focus {
      color: white;
      border: 1px solid #2f87fd; }
    .footer-co-info .news-subscribe button {
      border-radius: 10px;
      padding: 15px 35px;
      position: absolute;
      right: 0;
      bottom: 0; }
    .footer-co-info .news-subscribe button:hover {
      background: #313030; }

.quick-links {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%; }
  @media (max-width: 480px) {
    .quick-links {
      margin-bottom: 30px; } }

.latest-news {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }
  .latest-news button {
    color: #2f87fd; }
  .latest-news .link-news p {
    padding-bottom: 20px; }
  .latest-news .link-news button i {
    color: white;
    margin-right: 5px; }
  @media (max-width: 480px) {
    .latest-news .link-news {
      margin: 20px 0; } }
  .latest-news .link-news:nth-of-type(2) {
    padding-top: 20px;
    border-top: 1px solid #747474;
    margin: 30px 0; }
    @media (max-width: 480px) {
      .latest-news .link-news:nth-of-type(2) {
        margin: 20px 0;
        padding-top: 30px; } }

.copyright {
  margin-top: 100px; }
  .copyright .wrapper {
    border-top: 1px solid #747474; }
  .copyright .foot-social {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; }
    @media (max-width: 480px) {
      .copyright .foot-social {
        display: none; } }
  .copyright .foot-social i {
    color: #757575;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .copyright .foot-social i:hover {
    color: #2f87fd; }

button {
  padding: 10px;
  background: #2f87fd;
  border: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-style: "Source Sans Pro", sans-serif;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  button i {
    color: white; }
  button:hover {
    background: rgba(250, 250, 250, 0.6);
    border: 2px solid #2f87fd;
    color: #2f87fd; }
  button:hover i {
    color: #2f87fd; }

.transparent, .about-us .free-consult button, .news-details button, .latest-news button {
  background: none;
  color: #2f87fd; }
  .transparent i, .about-us .free-consult button i, .news-details button i, .latest-news button i {
    color: #2f87fd; }

img {
  max-width: 100%; }

.outer-wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 90%; }
  @media (max-width: 480px) {
    .wrapper {
      width: 93%; } }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  ul li {
    padding: 0; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

img {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */